.git
.github
.idea
.vscode
node_modules
vendor
tests
storage/app/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
bootstrap/cache/*
.env
.env.*
.phpunit.result.cache
docker-compose.yml
docker-compose.*.yml
phpunit.xml
README.md
CHANGELOG.md
docker/
!docker/nginx.conf
!docker/supervisord.conf
!docker/entrypoint.sh
*.md
*.log
Dockerfile
.dockerignore
.gitignore
.gitattributes

# Heroku specific files
vendor/bin/heroku*
.heroku
*.buildpacks 