.git
.github
.vscode
.idea
node_modules
tests
.env
.env.*
!.env.example
storage/app/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
vendor
*.log
*.sqlite
.gitignore
.gitattributes
docker-compose.yml
README.md
phpunit.xml 